<div class="questions-container" *ngFor="let question of (questions$ | async); let i = index; let last = last">
    <section #questionSection [class]="question.id">
        <div class="container">
            <div class="row">
                <div class="col">
                    <button (click)="scrollToPreviousQuestion(i)" [disabled]="i === 0" class="btn btn-primary">Back</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <app-card [data]='question ?? []'></app-card>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button (click)="scrollToNextQuestion(i)" class="btn btn-primary">{{ last ? 'Submit' : 'Continue' }}</button>
                </div>
            </div>
        </div>
    </section>
</div>